.loading-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255 255 255 / 0%);
  transition: background-color 500ms ease;
  z-index: 1000;
}

.loading-mask-blur {
  transition: filter 400ms ease;
}

.loading-mask-blur > :not(.loading-mask) {
  filter: blur(1px);
}
