.text-transition-blur-enter {
  @apply blur-sm opacity-0;
}

.text-transition-blur-enter-active,
.text-transition-blur-enter-appear,
.text-transition-blur-enter-done {
  @apply blur-none opacity-100 transition-all duration-200 ease-in-out;
}

.text-transition-blur-exit {
  @apply blur-none opacity-100;
}

.text-transition-blur-exit-active,
.text-transition-blur-exit-done {
  @apply blur-sm opacity-0 transition-all duration-100 ease-in-out;
}

.text-transition-skeleton-enter,
.text-transition-skeleton-enter-active,
.text-transition-skeleton-enter-appear,
.text-transition-skeleton-enter-done {
  @apply animate-pulse opacity-100;
}

.text-placeholder-animation {
  @apply relative;

  /* text-shadow: 0 0 1px #fff, 0 0 1px #fff; */
}

.text-placeholder-animation::after {
  @apply absolute left-0 top-0 w-full h-full overflow-hidden;

  content: attr(data-placeholder);
  color: inherit;
  filter: invert(15%);
  mix-blend-mode: difference;
  animation: text-placeholder-animation 6s linear infinite;
}

@keyframes text-placeholder-animation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
