;; shadow-cljs configuration
;; :aliases 通过指令的方式选择性的安装某些依赖 参考文档5.3
{:deps     {:aliases [:cljs]}
;;  5.4.5 就是单纯的起一个web 服务.根目录是pacakges/index 这里的作用就是用来debug
 :dev-http {8000 ["packages"]}

 :build-defaults
;;开发的一些工具：preloads(6.2.2)
;; 后面跟的是自己写的开发工具 可以全局搜索 ns cljs-devtool  ns x.portal.setup
 {:devtools    {:preloads        [cljs-devtool x.portal.setup]
                :console-support false
                :devtools-url    "http://localhost:9630"}
  ;; 当build 的时候记录查询数据库的端口号
  :build-hooks [(hooks.portal/start)]}

 :builds
 {:spec {:target           :esm
         :output-dir       "packages/spec/src"
         :js-options       {:js-package-dirs ["node_modules" "packages/spec/node_modules"]}
        ;;  closure-defines 当是dev的时候 改变了 shadow.cljs.devtools.client.env/devtools-url的值
         :dev              {:closure-defines {shadow.cljs.devtools.client.env/devtools-url "http://localhost:9630"}}
         :compiler-options {:cross-chunk-method-motion false
                            :infer-externs             :auto}
         :modules          {:shared {}
                            :spec
                            {:exports
                             {;; default cfxjs.spec.core/exports

                              ;; factory for schemas that needs helper functions from js side
                              defRestSchemas                cfxjs.spec.core/export-defRestSchemas
                              defBase32AddressSchemaFactory cfxjs.spec.core/export-defBase32AddressSchemaFactory
                              ;; pred schemas
                              anyp                          cfxjs.spec.core/export-anyp
                              some                          cfxjs.spec.core/export-some
                              number                        cfxjs.spec.core/export-number
                              integer                       cfxjs.spec.core/export-integer
                              intp                          cfxjs.spec.core/export-intp
                              posInt                        cfxjs.spec.core/export-posInt
                              negInt                        cfxjs.spec.core/export-negInt
                              natInt                        cfxjs.spec.core/export-natInt
                              pos                           cfxjs.spec.core/export-pos
                              neg                           cfxjs.spec.core/export-neg
                              float                         cfxjs.spec.core/export-float
                              doublep                       cfxjs.spec.core/export-doublep
                              booleanp                      cfxjs.spec.core/export-booleanp
                              stringp                       cfxjs.spec.core/export-stringp
                              ident                         cfxjs.spec.core/export-ident
                              simpleIdent                   cfxjs.spec.core/export-simpleIdent
                              qualifiedIdent                cfxjs.spec.core/export-qualifiedIdent
                              keywordp                      cfxjs.spec.core/export-keywordp
                              ;; (def simple-keyword simple-keyword?)
                              ;; (def export-qualified-keyword qualified-keyword?)
                              symbolp                       cfxjs.spec.core/export-symbolp
                              ;; (def simple-symbol simple-symbol?)
                              ;; (def export-qualified-symbol qualified-symbol?)
                              uuidp                         cfxjs.spec.core/export-uuidp
                              uri                           cfxjs.spec.core/export-uri
                              inst                          cfxjs.spec.core/export-inst
                              jsinst                        cfxjs.spec.core/export-js-inst
                              seqable                       cfxjs.spec.core/export-seqable
                              indexed                       cfxjs.spec.core/export-indexed
                              mapp                          cfxjs.spec.core/export-mapp
                              objp                          cfxjs.spec.core/export-objp
                              vectorp                       cfxjs.spec.core/export-vectorp
                              arrp                          cfxjs.spec.core/export-vectorp
                              list                          cfxjs.spec.core/export-list
                              seq                           cfxjs.spec.core/export-seq
                              char                          cfxjs.spec.core/export-char
                              setp                          cfxjs.spec.core/export-setp
                              jssetp                        cfxjs.spec.core/export-js-setp
                              nul                           cfxjs.spec.core/export-nil
                              falsep                        cfxjs.spec.core/export-falsep
                              truep                         cfxjs.spec.core/export-truep
                              zero                          cfxjs.spec.core/export-zero
                              coll                          cfxjs.spec.core/export-coll
                              empty                         cfxjs.spec.core/export-empty
                              associative                   cfxjs.spec.core/export-associative
                              sequentialp                   cfxjs.spec.core/export-sequentialp
                              optParam                      cfxjs.spec.core/nil-or-empty-vec

                              ;; class schemas
                              regexp cfxjs.spec.core/export-regexp

                              ;; comparator schemas
                              gt  cfxjs.spec.core/export-gt
                              gte cfxjs.spec.core/export-gte
                              lt  cfxjs.spec.core/export-lt
                              lte cfxjs.spec.core/export-lte
                              eq  cfxjs.spec.core/export-eq
                              neq cfxjs.spec.core/export-neq

                              ;; type schemas
                              any              cfxjs.spec.core/export-any
                              string           cfxjs.spec.core/export-string
                              int              cfxjs.spec.core/export-int
                              double           cfxjs.spec.core/export-double
                              boolean          cfxjs.spec.core/export-boolean
                              keyword          cfxjs.spec.core/export-keyword
                              symbol           cfxjs.spec.core/export-symbol
                              uuid             cfxjs.spec.core/export-uuid
                              qualifiedSymbol  cfxjs.spec.core/export-qualifiedSymbol
                              qualifiedKeyword cfxjs.spec.core/export-qualifiedKeyword

                              ;; sequence schemas
                              oneOrMore    cfxjs.spec.core/export-oneOrMore
                              plus         cfxjs.spec.core/export-plus
                              zeroOrMore   cfxjs.spec.core/export-zeroOrMore
                              asterisk     cfxjs.spec.core/export-asterisk
                              zeroOrOne    cfxjs.spec.core/export-zeroOrOne
                              questionMark cfxjs.spec.core/export-questionMark
                              repeat       cfxjs.spec.core/export-repeat
                              cat          cfxjs.spec.core/export-cat
                              alt          cfxjs.spec.core/export-alt
                              catn         cfxjs.spec.core/export-catn
                              altn         cfxjs.spec.core/export-altn

                              ;; base schemas
                              and        cfxjs.spec.core/export-and
                              or         cfxjs.spec.core/export-or
                              orn        cfxjs.spec.core/export-orn
                              not        cfxjs.spec.core/export-not
                              map        cfxjs.spec.core/export-map
                              obj        cfxjs.spec.core/export-obj
                              vector     cfxjs.spec.core/export-vector
                              arr        cfxjs.spec.core/export-arr
                              sequential cfxjs.spec.core/export-sequential
                              set        cfxjs.spec.core/export-set
                              enums      cfxjs.spec.core/export-enum
                              maybe      cfxjs.spec.core/export-maybe
                              tuple      cfxjs.spec.core/export-tuple
                              multi      cfxjs.spec.core/export-multi
                              re         cfxjs.spec.core/export-re
                              fn         cfxjs.spec.core/export-fn
                              ref        cfxjs.spec.core/export-ref
                              ;; functionSchema cfxjs.spec.core/export-function
                              schema     cfxjs.spec.core/export-schema
                              mapOf      cfxjs.spec.core/export-mapOf
                              objOf      cfxjs.spec.core/export-objOf
                              f          cfxjs.spec.core/export-f
                              rawSchema  cfxjs.spec.core/export-raw-schema

                              validate cfxjs.spec.core/export-validate
                              explain  cfxjs.spec.core/export-explain
                              k        cfxjs.spec.core/export-k

                              password          cfxjs.spec.core/export-password
                              networkId         cfxjs.spec.core/export-networkId
                              chainId           cfxjs.spec.core/export-chainId
                              addressType       cfxjs.spec.core/export-addressType
                              hex               cfxjs.spec.core/export-hex-string
                              epochTag          cfxjs.spec.core/export-epoch-tag
                              epochRef          cfxjs.spec.core/export-epoch-ref
                              epochTagNoMined   cfxjs.spec.core/export-epoch-tag-no-mined
                              epochRefNoMined   cfxjs.spec.core/export-epoch-ref-no-mined
                              blockTag          cfxjs.spec.core/export-block-tag
                              blockRef          cfxjs.spec.core/export-block-ref
                              undefine          cfxjs.spec.core/export-js-undefined
                              url               cfxjs.spec.core/export-url
                              richUrl           cfxjs.spec.core/export-rich-url
                              atLeastOneHttpUrl cfxjs.spec.core/export-at-least-one-http-or-https-url
                              dbid              cfxjs.spec.core/export-dbid

                              tokenSymbol cfxjs.spec.core/export-token-symbol
                              Byte        cfxjs.spec.core/export-byte
                              Bytes       cfxjs.spec.core/export-bytes
                              Bytes32     cfxjs.spec.core/export-bytes32
                              Bytes256    cfxjs.spec.core/export-bytes256
                              Bytes65     cfxjs.spec.core/export-bytes65
                              Uint        cfxjs.spec.core/export-uint
                              Uint256     cfxjs.spec.core/export-uint256
                              Hash32      cfxjs.spec.core/export-hash32}
                             :depends-on #{:shared}}
                            :gen {:exports    {gen cfxjs.spec.gen/gen}
                                  :depends-on #{:shared}}
                            :doc {:exports    {generateDocumentation cfxjs.spec.doc/gen
                                               explain               cfxjs.spec.doc/export-explain
                                               validate              cfxjs.spec.doc/export-validate}
                                  :depends-on #{:shared}}}}
  :db {:target           :esm
       :output-dir       "packages/db/src"
       :js-options       {:js-package-dirs ["node_modules"
                                            "packages/db/node_modules"]}
       :compiler-options {:cross-chunk-method-motion false
                          :infer-externs             :auto
                          :output-feature-set        :es-next
                          :externs                   ["cfxjs/db/datascript/externs.js"]}
       :modules          {:shared {}
                          :db     {:exports {createdb cfxjs.db.core/create-db

                                             ;; debug funcs

                                             ;; tap cfxjs.db.core/tppp
                                             ;; prn cfxjs.db.core/ppp
                                             ;; jtc cfxjs.db.core/jtc
                                             k cfxjs.db.core/k
                                             e cfxjs.db.core/e
                                             q cfxjs.db.core/q
                                             t cfxjs.db.core/t}
                                   :depends-on #{:shared}
                                   :prepend-js "if(window)window.datascript={};"}}}}}
