.modal-spin {
  @apply relative w-[40px] h-[40px] rounded-full m-auto;

  background: linear-gradient(0deg, rgba(21 193 132 / 20%) 33%, #15c184 100%);
  animation: modal-spin-rotation 1s linear infinite;
}

.modal-spin::after {
  @apply absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] w-[36px] h-[36px] rounded-full bg-white;

  content: '';
}

@keyframes modal-spin-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
