@keyframes blow-up {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes blow-down {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.show-modal-content {
  animation: blow-up 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.hide-modal-content {
  animation: blow-down 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
