@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'SF-Pro-Display';
    src: url('./assets/SF-Pro-Display-Regular.woff2') format('woff2'), url('./assets/SF-Pro-Display-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('./assets/SF-Pro-Display-Bold.woff2') format('woff2'), url('./assets/SF-Pro-Display-Bold.ttf') format('truetype');
    font-style: bold;
    font-weight: bold;
    font-display: swap;
} */

html {
  font-family: SF-Pro-Display, sans-serif;
}

body {
  background-color: #f8f9fe;
}

.button {
  @apply flex justify-center items-center px-[16px] py-[10px] rounded-[4px] bg-[#808BE7] hover:bg-opacity-90 text-white;
}

button:disabled {
  @apply opacity-30 cursor-not-allowed;
}

.backface-visible {
  backface-visibility: visible;
}

.contain-strict {
  contain: strict;
}

.contain-content {
  contain: layout paint style;
}
