.router {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  contain: strict;
}

.router-forward-enter,
.router-back-appear {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.router-forward-enter-active,
.router-back-appear-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.35s ease-in-out, opacity 0.35s ease;
}

.router-forward-exit {
  opacity: 1;
  transform: translate3d(0);
}

.router-forward-exit-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.38s ease-in-out, opacity 0.38s ease;
}

.router-back-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.router-back-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.38s ease-in-out, opacity 0.38s ease;
}

.router-back-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.router-back-exit-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.38s ease-in-out, opacity 0.38s ease;
}

.router-full-switch-enter,
.router-full-switch-appear {
  opacity: 0;
}

.router-full-switch-enter-active,
.router-full-switch-appear-active {
  opacity: 1;
  transition: all 0.3s ease;
}

.router-full-switch-exit {
  opacity: 1;
}

.router-full-switch-exit-active {
  opacity: 0;
  transition: all 0.3s ease-in;
}
