@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply mx-auto text-[16px];

  width: fit-content;
}

body {
  @apply font-body text-sm font-normal overflow-auto;

  width: fit-content;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

strong {
  @apply text-warning-dark;
}

#root {
  display: flex;
  flex-direction: column;

  @apply min-h-150 min-w-93;
}

#root,
body,
html {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #7789d3;
  --color-secondary: #26244b;
  --color-error: #e96170;
  --color-success: #6fc5b1;
  --color-warning: #f0955f;
  --color-info: #7084ed;
  --color-primary-dark: #4258b3;
  --color-error-dark: #cd4957;
  --color-success-dark: #3aa58d;
  --color-warning-dark: #df6e2e;
  --color-info-dark: #4059d9;

  /* TODO global component class name default use light theme, need to use better method */
  --color-bg: #f4f5f7;
  --color-primary-10: #f3f6ff;
  --color-primary-90: #262933;
  --color-error-10: #fff2f4;
  --color-error-90: #2b2021;
  --color-success-10: #f1fdfa;
  --color-success-90: #18211e;
  --color-warning-10: #fcf1e8;
  --color-warning-90: #25211f;
  --color-info-10: #f2f6ff;
  --color-info-90: #232539;
  --color-gray-0: #fff;
  --color-gray-4: #fafbfd;
  --color-gray-10: #f7f8fa;
  --color-gray-20: #eaecef;
  --color-gray-40: #a9abb2;
  --color-gray-60: #898d9a;
  --color-gray-80: #3d3f4c;
  --color-gray-90: #2a2c33;
  --color-gray-96: #2a2c33;
  --color-gray-100: #1b1b1c;
}

.light {
  --color-bg: #f4f5f7;
  --color-primary-10: #f3f6ff;
  --color-primary-90: #262933;
  --color-error-10: #fff2f4;
  --color-error-90: #2b2021;
  --color-success-10: #f1fdfa;
  --color-success-90: #18211e;
  --color-warning-10: #fcf1e8;
  --color-warning-90: #25211f;
  --color-info-10: #f2f6ff;
  --color-info-90: #232539;
  --color-gray-0: #fff;
  --color-gray-4: #fafbfd;
  --color-gray-10: #f7f8fa;
  --color-gray-20: #eaecef;
  --color-gray-40: #a9abb2;
  --color-gray-60: #898d9a;
  --color-gray-80: #3d3f4c;
  --color-gray-90: #2a2c33;
  --color-gray-96: #2a2c33;
  --color-gray-100: #1b1b1c;
}

.dark {
  --color-bg: #26282e;
  --color-primary-10: #262933;
  --color-primary-90: #f3f6ff;
  --color-error-10: #2b2021;
  --color-error-90: #fff2f4;
  --color-success-10: #18211e;
  --color-success-90: #f1fdfa;
  --color-warning-10: #25211f;
  --color-warning-90: #fcf1e8;
  --color-info-10: #232539;
  --color-info-90: #f2f6ff;
  --color-gray-0: #1b1b1c;
  --color-gray-4: #2a2c33;
  --color-gray-10: #2a2c33;
  --color-gray-20: #3d3f4c;
  --color-gray-40: #898d9a;
  --color-gray-60: #a9abb2;
  --color-gray-80: #eaecef;
  --color-gray-90: #f7f8fa;
  --color-gray-96: #fafbfd;
  --color-gray-100: #fff;
}

.no-scroll {
  scrollbar-width: none;
}

.no-scroll::-webkit-scrollbar {
  width: 0 !important;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* stylelint-disable property-no-vendor-prefix */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='password']::-ms-reveal {
  display: none;
}
