.nav-spin {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
}

.nav-spin::after,
.nav-spin::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #808be7;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: animspin 2s ease-in-out infinite;
}

.nav-spin::after {
  animation-delay: 1s;
}

@keyframes animspin {
  0%,
  100% {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 0;
  }
}

.beta {
  background: linear-gradient(270.89deg, #ffe99c -7.44%, #fff3d3 110.32%);
}
