### {{{ name }}}

{{{ doc }}}

<>
  { {{{ hasInputParam }}} && <Parameters parameters={ {{{ inputParams }}} } rpcName="{{{ name }}}" /> }
  { {{{ hasOutputParam }}} && <Parameters parameters={ {{{ outputParams }}} } rpcName="{{{ name }}}" /> }
</>
